<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/"><h1 class="logo">MIHIR</h1></a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>